<script src="https://unpkg.com/darkreader@4.9.16/darkreader.js" crossorigin="anonymous"></script>

<script>
    // dark mode toggle
    (() => {

        //DarkReader.setFetchMethod(window.fetch)

        const DARK_MODE_ENABLED_KEY = "DARK_MODE_ENABLED_KEY"

        const enabledIcon = document.getElementById("dark-mode-enabled-icon")
        const disabledIcon = document.getElementById("dark-mode-disabled-icon")

        /* exit if dark mode UI toggle are not available */
        if (enabledIcon === null || disabledIcon === null) {
            return
        }

        const toggleClassName = "hidden"

        const enable = () => {

            if (window.localStorage) {
                DarkReader.enable({
                    brightness: 100,
                    contrast: 90,
                    sepia: 10
                });
                window.localStorage.setItem(DARK_MODE_ENABLED_KEY, "true")

                enabledIcon.classList.add(toggleClassName)
                disabledIcon.classList.remove(toggleClassName)
            }
        }

        const disable = () => {
            if (window.localStorage) {
                DarkReader.disable()
                if (window.localStorage.getItem(DARK_MODE_ENABLED_KEY)) {
                    window.localStorage.removeItem(DARK_MODE_ENABLED_KEY)
                }

                enabledIcon.classList.remove(toggleClassName)
                disabledIcon.classList.add(toggleClassName)

            }
        }

        const isEnabled = () => {
            return window.localStorage && (window.localStorage.getItem(DARK_MODE_ENABLED_KEY) != null)
        }

        const toggle = () => {
            if (isEnabled()) {
                disable()
            } else {
                enable()
            }
        }


        if (isEnabled()) {
            enable()
        } else {
            disable()
        }

        const e = document.getElementById('dark-mode-toggle')
        e.addEventListener('click', toggle)
        // Enable when system color scheme is dark
        // DarkReader.auto({
        //     brightness: 100,
        //     contrast: 90,
        //     sepia: 10
        // });

        // Stop watching for system color scheme
        //DarkReader.auto(false);

    })()

</script>

<script>
    /* offline support disabled */
    /*
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js');
        });
    }
    */
</script>